name: Autograding Tests
on:
  push:
  repository_dispatch:
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: pip install pytest
    - name: Run tests
      id: tests
      run: python -m pytest -q
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      if: always()
      env:
        TESTS_RESULTS: "${{steps.tests.outcome}}"
      with:
        runners: tests
